:host {
  display: block;
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.suggestions, .hashtags {
  width: 100%;
  margin-bottom: 2rem;
}

.hashtags h4 {
  margin-bottom: 0.5rem;
}

.hashtags ul {
  list-style: none;
  padding: 0;
}

.hashtags li {
  margin-bottom: 0.5rem;
  color: #00a887;
}

.user-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}