.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 2rem;
    border-radius: 5px;
  }

  .search-button{
    background-color: #00a887;
    height: 2rem;
    width: 5rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-input {
    color: #fff;
    border: 2px solid #00a887;
    background-color: transparent;
    padding: 0.5rem;
    width: 130px;
    border-radius: 5px;
  }