<!-- Fil principal -->
 <main class="main-feed">
    <div class="card-wrapper">
      <!-- <img
          [src]="media.mediaUrl"
          alt="{{ post.user.alias }}"
          class="card-image"
        /> -->
        <strong class="card-title">{{ post.user.alias }}</strong>
        <img
          [src]="post.user.profilPictureUrl"
          alt="{{ post.user.alias }}"
          class="card-image"
        />
        <div class="card-footer">
            <p class="post-description">{{ post.description }}</p>
        </div>
      </div>
  </main>
