.main-feed {
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-wrapper{
    display: flex;
    background-color: #1e1e1e;
    color: #ffffff;
    height: 100vh;
    font-family: Arial, sans-serif;
  }