:host {
  display: block;
  margin-bottom: 1.5rem;
}

.card-wrapper {
  background-color: #2d2d2d;
  border-radius: 8px;
  overflow: hidden;
}

.card-title {
  padding: 0.8rem;
  display: block;
  color: aliceblue;
  font-weight: bold;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card-header {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  color: aliceblue;
}

.card-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.card-footer {
  padding: 0.8rem;
}

.post-description {
  margin: 0;
  margin-bottom: 0.5rem;
}